* {
    padding: 0;
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
	font-size: 25px;
}

html, body {
    height: 100%;
    width: 100%;
    background: white;
}

.main {
    height: 100%;
	width: 65%;
	position: relative;
	left: 50%;
	transform: translatex(-50%);
	display: block;
	background: #ccc;
    padding-left: 30px;
    padding-right: 30px;
}

.titleSection {
    width: 100%;
    height: 12%;
}

.title {
    padding-top: 14px;
    font-size: 40px;
    font-size: calc(0.9 * 3.1vw);
}

.name {
    color: #666;
    padding-top: 5px;
    font-size: 25px;
    font-size: calc(1.4 * 0.9vw);
}

.workspace {
    margin-top: 20px;
    display: block;
    background: #bbb;
    height: 80%;
    margin-top: 15px;
    border-radius: 15px;
}

#MainCanvas {
    width: 100%;
    background: white;
    height: 70%;
    background-image: url("UIParts/GRID.png");
    box-shadow: 0px 0px 1px 1px #A5B1FF inset;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    user-select: none;
}

.toolbox {
    margin-top: 30px;
    width: 100%;
    height: 30%;
    border-radius: 15px;
    background: none;
}

.toolset {
    display: none;
    width: 100%;
    height: 80%;
    background: #aaa;
    overflow: hidden;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

.toolset button {
    background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
    background-color: #aaa;
    outline: none;
    border-color: #bbb;
}

.activeToolset {
    display: grid;
}

.toolset button:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

.toolset button:nth-child(2) {
  border-top-color: transparent;
}

.toolset button:nth-child(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

.toolset button:nth-child(4) {
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.toolset button:nth-child(5) {
  border-bottom-color: transparent;
}

.toolset button:nth-child(6) {
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.categories {
    width: 100%;
    height: 20%;
    position: relative;
    display: block;
    background: none;
}

.activeCat {
    background-color: #aaa !important;
}

.category {
    width: 20%;
    height: 100%;
    background-color: #999;
    display: inline-block;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#cat1 {
    background-image: url("UIParts/OFFSWITCH.png");
}

#cat2 {
    background-image: url("UIParts/ANDGATE.png");
}

#cat3 {
    background-image: url("UIParts/ONLIGHT.png");
}

#cat4 {
    background-image: url("UIParts/TOOLS.png");
}

#cat5 {
    background-image: url("UIParts/SETTINGS.png");
}

.settingsDiv {
    box-sizing: border-box;
    padding: 5px;
}

.settingsDiv button {
    border: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 25px;
  margin-top: 10px;
}


.inline {
    display: inline-block;
}

.gridLocked {
    background-image: url(UIParts/GRIDLOCKED.png);
}

.gridUnlocked {
    background-image: url(UIParts/GRIDUNLOCKED.png);
}

.pauseBtn {
    background-image: url(UIParts/PAUSE.png);
}

.playBtn {
    background-image: url(UIParts/PLAY.png);
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    box-sizing: border-box;
    border: 2px outset #bbb;
    border-left-color: transparent;
    border-top-color: transparent;
    display: block;
    width: 100%;
    height: 100%;
}

.fileContainer {
    display: block;
    overflow: hidden;
}

.uploadBtn {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.buttonDown {
    border-style: inset !important;
}

.popupShown {
    display: block !important;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 1;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.tablePopupShown {
    display: block !important;
}

.tablePopup {
    width: 60%;
    height: 60%;
    display: none;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: #fff;
    overflow-y: scroll;
}

.truthTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #ddd;
}

.labelOn {
    background-image: url(UIParts/LABELON.png);
}

.labelOff {
    background-image: url(UIParts/LABELOFF.png);
}

.propositionalPopup {
    display: block;
    width: 40%;
    height: 40%;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    overflow-y: scroll;
}
